{{outlet}}

<h2>All the lovely cats</h2>


{{#each model as |cat|}}
<div class="catbox">
  <h3>{{cat.name}}</h3>
  <p>Gender: {{cat.gender}}</p>
  <p>Personality: {{cat.description}}</p>
  <img src="{{cat.picture}}" alt="{{cat.name}}">
 </div>
{{/each}}
